@use "../../base/mixins" as *;
@use "../../base/variables" as *;

.footer {
  background-color: #f6f6f6;
  &__wrapper {
    padding: 100px 140px 0;
  }
  &__nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
  }
  &__column {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  &__title {
    font-family: Cardo;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
  }

  &__item {
    font-family: Cardo;
    font-weight: 400;
    font-style: Regular;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
  }

  &__bottom{
    margin-top: 30px;
  }
}
