/* roboto-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../../../public/fonts/roboto/roboto-v49-latin-regular.woff2') format('woff2'); 
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../../../public/fonts/roboto/roboto-v49-latin-700.woff2') format('woff2'); 
}

/* cardo-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  src: url('../../../public/fonts/cardo/cardo-v21-latin-regular.woff2') format('woff2'); 
}
/* cardo-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  src: url('../../../public/fonts/cardo/cardo-v21-latin-700.woff2') format('woff2'); 
}