$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// Name Colors

// RGB Colors

// HEX Colors
$text-color: #FFFFFF;
$footer-color: #1C2028;
$main-bg-color: #20262E;
$darkmode-moon: #323940;
$community-color: #7288DA;
$nav-active-color: #45D19E;
$darkmode-bg-color: #272E37;
$card-shadow-color: #222222;
$login-first-color: #059669;
$footer-link-color: #CECED0;
$header-bottom-color:#394852;
$login-second-color: #25B1C8;
$input__border-color: #000000;
$blog-sub-title-color: #CBCBCB;
$card-background-color: #272E37;
$media-background-color: #FFFFFF0D;
$alert-btn-bg-color: #FFFFFF1A;

